CMakeFiles
Solution/
save/
cmake_install.cmake
Makefile
CMakeCache.txt
CPackConfig.cmake
EnabledFeatures.txt
CPackSourceConfig.cmake
CMakeTmp
build_x86
build_x64
dependencies/
bin/libversion_info.a
bin/Release/
bin/plugins.cfg
bin/RelWithDebInfo/
_build
0_build
build/
cmake-build-release
cmake-build-debug
/.vs
build/
src/gui/version.h
libs/
