# Resource locations to be added to the 'boostrap' path
# This also contains the minimum you need to use the Ogre example framework
[Bootstrap]
Zip=../../resources/packs/OgreCore.zip

# Resource locations to be added to the default path
[General]
FileSystem=../../resources
FileSystem=../../resources/fonts
FileSystem=../../resources/materials/programs
FileSystem=../../resources/materials/scripts
FileSystem=../../resources/materials/textures
FileSystem=../../resources/models
FileSystem=../../resources/overlays
FileSystem=../../resources/gui
FileSystem=../../resources/DeferredShadingMedia

